body {
	padding: 0;
	margin: 0;
}

#login-holder {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
}

.text-haver {
	font-size: 20pt;
	text-align: center;
	line-height: 35pt;
}

.text-haver input {
	font-size: 20pt;
}

#controller-holder {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
}

#luck-bar-holder {
	width: 90%;
	margin: 0 auto;
	background-color: #ddd;
	padding: 4pt;
	border-radius: 14pt;
}

#luck-bar {
	height: 20pt;
	background-color: #88e;
	border-radius: 10pt;
}

#button-holder {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

#button-holder input {
	display: inline-block;
	font-size: 40pt;
	width: 2em;
	height: 2em;
	border: 3px solid red;
	border-radius: 0.4em;
	text-align: center;
	background-color: #eee;
	margin: 0 10px;
}
